.profilecraft-p {
  background-color: #f3f6ff;
  height: 500px;
  width: 70%;
  margin-top: 15px;
  padding-top: 20px;
  box-shadow: 9px 7px 20px #10385c;
  border-radius: 15px;
  margin-bottom: 15px;
}
